body {
    display: flex;
    flex-flow: column nowrap;
}

div {
    /*formatting*/
    height: 50px;
    width: 50px;
}
div:nth-child(2n+1) {
    background-color: #00539f;
}

#rel {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #5ce1ff;
}