header {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: space-evenly;
    border: 1px solid blue;

}

div {
    width: 50px;
    height: 50px;
    background-color: red;
    border: solid black;
    margin-top: 100px;
}

h1 {
    vertical-align: top;
}