div {
    border-radius: 5px;
}

#one {
    margin-left: 50px;
    /*formatting*/
    height: 1500px;
    width: 150px;
    background-color: forestgreen;
    border: 3px dashed salmon;
}

#two {
    position: fixed;
    top: 20px;
    left: 10px;
    /*formatting*/
    width: 50px;
    height: 50px;
    border: 3px solid #00FF00;
    background-color: #5ce1ff;
}