html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    /*formatting*/
    border: 2px solid darkblue;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

div {
    width: 100%;
    min-height: 110px;
}