
h1.max-500 {
    width: 270px;
    text-align: center;
    top: unset;
    bottom: 140px;
}

h2.max-500 {
    font-size: 1.6rem;
}

h3.max-500 {
    font-size: 1.2rem;
}

h2.max-500, h3.max-500 {
    top: 30px;
}

section > .idx-center > button {
    font-size: 1.7rem;
    top: 50px;
}


