
.c1 {
    background-color: darkblue;
}

.c2 {
    background-color: mediumblue;
}

.c3 {
    background-color: #3347ff;
}

div {
    color: white;
    text-align: center;
    padding: 1rem;
}