
html, body, nav, div, button {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

header {
    height: 24px;
    width: 100%;
    position: fixed;
}

#nav-left {
    margin-left: 12px;
}

#settings {
    margin-right: 16px;
}

nav {
    background-color: rgba(20,20,20,0.62);
    display: flex;
    justify-content: space-between;
}

svg {
    height: 13.33333px;
    width: 13.3333px;
    fill: #ffffff;
    position: relative;
    top: 2px;
}

button:nth-child(1) {
    outline: none;
    background-color: transparent;
    cursor: pointer;
    /*border: 1px solid black;*/
    border-style: unset;
    padding: 5px 8px 6px;
    margin: 4px 3px 4px 6px;
}

#svg-logo {
    position: relative;
    left: 4px;
}

button:nth-child(2), button:nth-child(3), button:nth-child(4) {
    outline: none;
    background-color: transparent;
    cursor: pointer;
    /*border: 1px solid black;*/
    border-style: unset;
    padding: 6px 8px;
    margin: 4px 3px;
    font-weight: 600;
    color: white;
}


button:hover, button:hover>svg {
    background-color: white;
    color: black;
    border-radius: 0.25em;
    fill: black;
}