html, body, section, div, article, h1, h2, h3, span {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

#idx-atf {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /*background*/
    background-color: #727272;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
    /*formatting*/
    height: 100vh;
    width: 100%;
    color: #fffdfe;
}

.idx-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /*formatting*/
    font-family: 'Oswald', sans-serif;
}

.idx-center > h1, .idx-center > h2, .idx-center > h3 {
    border-radius: 15px;
    padding: 0 7px;
    /*background-color: rgba(20, 20, 200, 0.45);*/
    background-color: rgba(213, 135, 33, 0.45);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 58px;
}

h2 {
    position: relative;
    top: 86px;
    font-size: 1.16rem;
}

h3 {
    text-align: center;
    position: relative;
    top: 86px;
    font-weight: 200;
}

.idx-center > button {
    padding: 6px 10px;
    /*       FORMATTING       */
    /*text color*/
    /*color: rgb(71, 57, 116);*/
    color: white;
    /*border styling*/
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: #d58721;
    border-radius: 3px;
    box-shadow: 1px 1px #b3711c;
    /*text styling*/
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    /*positioning*/
    position: relative;
    top: 94px;
    background-color: rgba(213, 135, 33, 0.58);
}

.idx-center > button:hover {
    background-color: rgba(212, 134, 33, 0.58);
}

.idx-center > button:active {
    background-color: rgba(212, 134, 33, 0.58);
    position: relative;
    left: 1px;
    top: 95px;
    box-shadow: none !important;
}

.idx-center > button:focus {
    outline: 0;
}



