
h1.max-500 {
    width: 270px;
    text-align: center;
    top: unset;
    bottom: 180px;
}

h2.max-500 {
    font-size: 1.6rem;
}

h3.max-500 {
    font-size: 1.2rem;
}

h2.max-500, h3.max-500 {
    top: 140px;
}

section > .idx-center > button {
    font-size: 1.7rem;
    top: 220px;
}


.idx-center > button.for-phone:active {
    background-color: rgba(40, 40, 240, 0.58);
    position: relative;
    left: 1px;
    top: 221px;
    box-shadow: none !important;
}